.is_unknown {
  background-color: #9e9e9e;
  color: #282c34;
}
.is_alive {
  background: #77dd77;
  color: #282c34;
}
.is_death {
  background: #cb3214;
  color: blanchedalmond;
}

.status__container {
  width: min-content;
  text-align: center;
  border-radius: 7px;
  padding: 3px 7px;
}

.text {
  font-size: 15px;
}
